{{ define "main" }}

  <div class="flex flex-column h-full">

    <div class="inset border-b">
      {{- partial "post/pager.html" . -}}
    </div>

    <div class="flex flex-1 clipped">
      <div class="flex-1 inset border-r scrollable">
        <h1>{{ .Title }}</h1>
        <small>{{ .Date }}</small>
        <div>{{ .Content }}</div>
      </div>
      <div class="flex-1 scrollable" style="font-size:0.9em">

        <div class="inset border-b">
          <div><i class="fas fa-fw fa-book-open"></i> Additional reading</div>
          {{ range .Params.links }}
            <div>
              <a href="{{ . }}" target="_blank">{{ . }} <i class="fas fa-fw fa-external-link-alt"></i></a>
            </div>
          {{ end }}
        </div>

        <p>Things to add here</p>
        <ul>
          <li>Author info</li>
          <li>Tags</li>
          <li>Retweet</li>
        </ul>
      </div>
    </div>

  </div>

{{ end }}
