:root {
  --yellow: #fedb00;
  --black: #000;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Montserrat";
  line-height: 150%;
  color: #fff;
  overscroll-behavior-y: none;
}

a {
  color: var(--yellow);
  text-decoration: none;
}

.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}

.block {
  display: block;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.items-center {
  align-items: center;
}

.clipped {
  overflow: hidden;
}
.scrollable {
  overflow-y: auto;
}

.inset-y {
  padding-top: 16px;
  padding-bottom: 16px;
}

.inset-x {
  padding-left: 16px;
  padding-right: 16px;
}

.m-none {
  margin: 0;
}

.mt-auto {
  margin-top: auto;
}
.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}

.ml-lg {
  margin-left: 16px;
}

.mb-sm {
  margin-bottom: 8px;
}

.mb-lg {
  margin-bottom: 16px;
}

.px-sm {
  padding-left: 8px;
  padding-right: 8px;
}

.py-xs {
  padding-top: 4px;
  padding-bottom: 4px;
}

.bg-primary {
  background-color: var(--yellow);
}

.border-b,
.border-r {
  border-width: 0;
  border-style: solid;
  border-color: #353535;
}

.border-b {
  border-bottom-width: 1px;
}
.border-r {
  border-right-width: 1px;
}

.rounded-sm {
  border-radius: 2px;
}

.rounded-md {
  border-radius: 6px;
}

.text-dark {
  color: var(--black);
}

.bold {
  font-weight: bold;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
