:root {
  --yellow: #fedb00;
  --black: #000;
  --gray: #353535;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Montserrat";
  line-height: 150%;
  color: #fff;
  overscroll-behavior-y: none;
}

a {
  color: var(--yellow);
  text-decoration: none;
}

.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.items-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}

.clipped {
  overflow: hidden;
}
.scrollable {
  overflow-y: auto;
}

.inset-y {
  padding-top: 16px;
  padding-bottom: 16px;
}

.inset-x {
  padding-left: 16px;
  padding-right: 16px;
}

.inset-y2 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.inset-x2 {
  padding-left: 32px;
  padding-right: 32px;
}

.m-none {
  margin: 0;
}

.mt-auto {
  margin-top: auto;
}
.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}

.ml-lg {
  margin-left: 16px;
}

.mr-sm {
  margin-right: 8px;
}

.mr-md {
  margin-right: 10px;
}

.mr-lg {
  margin-right: 16px;
}

.mb-sm {
  margin-bottom: 8px;
}

.mb-md {
  margin-bottom: 10px;
}

.mb-lg {
  margin-bottom: 16px;
}

.mb-xl {
  margin-bottom: 48px;
}

.ml-sm {
  padding-left: 8px;
}

.px-sm {
  padding-left: 8px;
  padding-right: 8px;
}

.py-xs {
  padding-top: 4px;
  padding-bottom: 4px;
}

.bg-primary {
  background-color: var(--yellow);
}

.border-b,
.border-t,
.border-r {
  border-width: 0;
  border-style: solid;
  border-color: #353535;
}

.border-b {
  border-bottom-width: 1px;
}
.border-t {
  border-top-width: 1px;
}
.border-r {
  border-right-width: 1px;
}

.rounded-sm {
  border-radius: 2px;
}

.rounded-md {
  border-radius: 6px;
}

.rounded-full {
  border-radius: 50%;
}

.text-dark {
  color: var(--black);
}

.bold {
  font-weight: bold;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lh-1 {
  line-height: 1;
}

.text-sm {
  font-size: 13px;
}

.upper {
  text-transform: uppercase;
}

.text-gray {
  color: #666;
}

.twitter-btn {
  padding: 6px 12px;
  border-radius: 5px;
  background-color: #1b95e0;
  color: #fff;
}

.text-center {
  text-align: center;
}
