.pager {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pager-label { font-weight: bold; font-size: 12px; text-transform: uppercase; }

.pager-link-prev { text-align: left; }
.pager-link-next { text-align: right; }
