<nav class="pager">

  {{ if .PrevInSection }}
    <div class="pager-link-prev">
      <div class="pager-label"><i class="fas fa-fw fa-chevron-left"></i> Previous</div>
      <a href="{{ .Prev.Permalink }}">{{ .PrevInSection.Title }}</a>
    </div>
  {{ end }}

  {{ if .NextInSection }}
    <div class="pager-link-next ml-auto">
      <div class="pager-label">Next <i class="fas fa-fw fa-chevron-right"></i></div>
      <a href="{{ .Next.Permalink }}">{{ .NextInSection.Title }}</a>
    </div>
  {{ end }}

</nav>
