<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
  </head>
  <body>
    <a href="{{ .Site.BaseURL | absURL }}">
      {{ if .Site.Params.logo }}
        <img src="{{ .Site.Params.logo | absURL }}" title="{{ .Site.Title }}" height="48" />
      {{ else }}
        <span>{{ .Site.Title }}</span>
      {{ end }}
    </a>
    {{- partial "social-profiles.html" . -}}
    {{- block "main" . }}{{- end }}
    <small>{{ .Site.Copyright }}</small>
  </body>
</html>
