{{ define "main" }}

  <div class="flex flex-column flex-1 h-screen">

    <div class="inset-x2 inset-y border-b">
      {{- partial "post/pager.html" . -}}
    </div>

    <div class="flex flex-1 clipped">
      <div class="flex-1 inset-x2 inset-y2 border-r scrollable" style="font-size:1.25em;line-height:1.5">
        <h1 class="m-none">{{ .Title }}</h1>
        <div>{{ .Content }}</div>
      </div>
      <div class="scrollable" style="font-size:0.9em;width:480px">

        {{ with $.Site.GetPage (printf "/%s/%s" "authors" .Params.author) }}
          <div class="flex inset-x inset-y2 border-b">
          	<img class="rounded-md" src="{{ .Params.avatar }}" width="96" height="96">
            <div class="ml-lg">
              <h2 class="m-none">{{ .Params.name }}</h2>
          	  <p>{{ .Params.bio }}</p>
            </div>
          </div>
        {{ end }}

        {{- if .Params.links -}}
          <div class="inset-x inset-y border-b">
            <div class="mb-sm"><i class="fas fa-fw fa-bookmark"></i> Additional reading</div>
            {{ range .Params.links }}
              <a class="block ellipsis" href="{{ . }}" target="_blank">{{ . }} <i class="fas fa-fw fa-external-link-alt"></i></a>
            {{ end }}
          </div>
        {{ end }}

        {{- if .Params.tags -}}
          <div class="inset-x inset-y">
            <div class="mb-sm"><i class="fas fa-fw fa-tag"></i> Tags</div>
            {{ range .Params.tags }}
              {{ with $.Site.GetPage "tags" . }}
                {{ partial "tag.html" . }}
              {{ end }}
            {{ end }}
          </div>
        {{ end }}

      </div>
    </div>

  </div>

{{ end }}
