<div class="flex flex-column h-screen border-r scrollable" style="width:340px">

  <a href="{{ .Site.BaseURL | absURL }}" class="text-center inset-y">
    {{ if .Site.Params.logo }}
      {{ $logo := resources.Get .Site.Params.logo }}
      <img src="{{ $logo.Permalink }}" title="{{ .Site.Title }}" height="96" />
    {{ else }}
      <span>{{ .Site.Title }}</span>
    {{ end }}
  </a>

  <nav class="w-full flex-1 inset-x2 inset-y2">
    <div class="mb-xl">
      <div class="bold text-sm upper mb-sm"><i class="mr-sm fas fa-fw fa-folder"></i> Browse Categories</div>
      {{ range .Site.Taxonomies.categories }}
        <div class="flex items-center ml-sm mb-sm">
          <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
          <span class="ml-auto">{{ .Pages | len }}</span>
        </div>
      {{ end }}
    </div>
    <div class="mb-xl">
      <div class="bold text-sm upper mb-sm"><i class="mr-sm fas fa-fw fa-tags"></i> Browse Tags</div>
      {{ range .Site.Taxonomies.tags }}
        {{ partial "tag.html" .Page }}
      {{ end }}
    </div>
  </nav>

  <div class="inset-x2 inset-y2 text-center">
    {{ partial "social-profiles.html" . }}
    <small>{{ .Site.Copyright }}</small>
  </div>

</div>
