<div class="flex flex-column items-center inset-x inset-y border-r">

  <a href="{{ .Site.BaseURL | absURL }}">
    {{ if .Site.Params.logo }}
      <img src="{{ .Site.Params.logo | absURL }}" title="{{ .Site.Title }}" height="96" />
    {{ else }}
      <span>{{ .Site.Title }}</span>
    {{ end }}
  </a>

  <input type="search" placeholder="Search" />

  <nav>
    {{ range .Site.Menus.main }}
      <div class="inset-x inset-y">{{.Pre}} {{ .Name }}</div>
    {{ end }}
  </nav>

  <div class="mt-auto">
    {{- partial "social-profiles.html" . -}}
  </div>

  <small>{{ .Site.Copyright }}</small>

</div>
